<template>
  <div id="app">
    <div class="row minimale-hoogte">
      <div class="col-2">2</div>
      <div class="col-1">1</div>
      <div class="col-3">
        <div class="row">
          <div class="col-12">leeg</div>
        </div>
        <div class="row">
          <div class="col-12">invul veld met bedrag en shit</div>
        </div>
        <div class="row">
          <div class="col-12">leeg</div>
        </div>
        <div class="row">
          <div class="col-1">1</div>
          <div class="col-10">10</div>
          <div class="col-1">1</div>
        </div>
        <div class="row">
          <div class="col-12">leeg</div>
        </div>
      </div>
      <div class="col-2">2</div>
      <div class="col-3">
        <div class="row">
          <div class="col-6">6</div>
          <div class="col-6">6</div>
        </div>
        <div class="row">
          <div class="col-12">leeg</div>
        </div>
        <div class="row">
          <div class="col-8">8</div>
          <div class="col-4">4</div>
        </div>
        <div class="row">
          <div class="col-12">leeg</div>
        </div>
      </div>
      <div class="col-1">1</div>
    </div>
    <div class="row">
      <div class="col-2">2</div>
      <div class="col-8">
        <div class="row">
          <div class="col-2">2</div>
          <div class="col-8">
            <div class="row">
              <div class="col-11">11</div>
              <div class="col-1">1</div>
            </div>
            <div class="row">
              <div class="col-6">6</div>
              <div class="col-6">6</div>
            </div>
            <div class="row">
              <div class="col-6">6</div>
              <div class="col-6">6</div>
            </div>
          </div>
          <div class="col-2">2</div>
        </div>
      </div>
      <div class="col-2">2</div>
    </div>
  </div>
</template>

<script>
// import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "app"
};
</script>

<style>
#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
.col-1 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: pink;
}
.col-2 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: aqua;
}
.col-3 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: green;
}
.col-4 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: lightcoral;
}
.col-6 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: gray;
}
.col-8 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: red;
}
.col-10 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: yellow;
}
.col-11 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: tomato;
}
.col-12 {
  min-height: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: teal;
}
.minimale-hoogte {
  height: 700px;
}
</style>
